<div class="p-4">
    <div class="container common content mt-3">
        <h3 class="mb-3">Manage your account</h3>
        <p>Multa sunt dicta ab antiquis de contemnendis ad despiciendis rebus humanis:</p>
        <p>Quid iudicant sensus? Ut enim consuetudo loquitur, id solum dicitur honesturm,</p>
        <p>quod est populari fama gloriosum. An hoc usque quaque, aliter in vita?</p>
    </div>
    <div class="container mt-5">
        <div class="row" style="justify-content: center;">
            <div class="col-md-5 item">
                <span>subscription portal</span>
                <p>Manage your subscriptions, update plan and services etc</p>
            </div>
            <div class="col-md-5 item ml-4">
                <span>self-help</span>
                <p>Motitoring, FAQ's, How-To Videos etc</p>
            </div>
        </div>
    </div>
</div>