<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <h4 mat-dialog-title>Login</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="btn-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="pat@example.com" required/>
            <mat-error *ngIf="f.email.errors">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="btn-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required/>
            <mat-error *ngIf="f.password.errors">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" [disabled]="loading" class="btn-width">
                <span *ngIf="loading"></span>
                sign in
            </button>
            <a mat-raised-button color="accent" [disabled]="loading" class="btn-width" (click)="openDialog()">
                <span *ngIf="loading"></span>
                register
            </a>
        </div>
    </form>
</div>