﻿<!-- nav -->
<nav mat-tab-nav-bar class="navbar-end" *ngIf="user">
  <a mat-tab-link class="mr-2">SOLUTIONS</a>
  <a mat-tab-link class="mr-2">RESOURCES</a>
  <a mat-tab-link class="mr-2">ABOUT</a>
  <button mat-flat-button color="warn">PRICING</button>
  <a mat-tab-link class="mr-2" (click)="logout()">Logout</a>
</nav>
<nav mat-tab-nav-bar class="navbar-end" *ngIf="!user">
  <a mat-tab-link class="txt-color" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">KUMULATE</a>
  <a mat-tab-link class="txt-color" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SOLUTIONS</a>
  <a mat-tab-link class="txt-color" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">RESOURCES</a>
  <a mat-tab-link class="txt-color" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ABOUT</a>
  <button mat-button class="txt-color" (click)="openDialog()">SIGN IN</button>
</nav>
<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
