<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <h4 mat-dialog-title>Register</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="btn-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required/>
            <mat-error *ngIf="f.firstName.errors">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="btn-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required/>
            <mat-error *ngIf="f.lastName.errors">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="btn-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required/>
            <mat-error *ngIf="f.email.errors">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="btn-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required minlength="6"/>
            <mat-error *ngIf="f.password.errors">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="loading" class="btn-width">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            
        </div>
    </form>
    <button mat-dialog-close mat-raised-button color="accent" class="btn-width" >Cancel</button>
</div>